/* ==========================================================================
    RESET STYLES
    ========================================================================= */
    html,
    button,
    input,
    select,
    textarea {
        color: #222;
    }

    body {
        font-size: 1em;
        line-height: 1.4;
    }

    ::-moz-selection {
        background: #b3d4fc;
        text-shadow: none;
    }

    ::selection {
        background: #b3d4fc;
        text-shadow: none;
    }

    hr {
        display: block;
        height: 1px;
        border: 0;
        border-top: 1px solid #ccc;
        margin: 1em 0;
        padding: 0;
    }

    img {
        vertical-align: middle;
    }
    /* Flexible Images */
        img{
        height: auto;
        max-width: 100%;
        }

    fieldset {
        border: 0;
        margin: 0;
        padding: 0;
    }

    textarea {
        resize: vertical;
    }

    .chromeframe {
        margin: 0.2em 0;
        background: #ccc;
        color: #000;
        padding: 0.2em 0;
    }
    textarea,input[type="text"]{
    background-color: #ECECEC;
    border: medium none;
    border-radius: 0 !important;
    box-shadow: -3px 0 0 0 black, 3px 0 0 0 black;
    margin: 10px;
    }
    input[type="text"]{height: 30px;}
    input{border: none !important;border-radius: 0 !important;}
    label{margin:10px 10px -10px;}
    a{color: #ccc}
    a:hover{color: #ccc}
    a:focus{color: #ccc}
    a:active{color: #ccc}
    

/* =======================================================
    GLOBAL
    ======================================================= */
    /*Test Box is for Wireframe visualization only*/
    .testBox{
            background-color: rgba(255,0,0,0.25);
            box-shadow: inset 0 0 5px 1px teal;
        }
    /*===== Ease Transition =====*/
    * {
          -webkit-transition: all 0.2s ease;
          -moz-transition:    all 0.2s ease;
          -ms-transition:     all 0.2s ease;
          -o-transition:      all 0.2s ease;
        }
    /* ===================
        COLORS: 
        =================== */
        body{color: #363636;}
        nav.utility a{color: white;}
        .header-container {box-shadow: 0 7px 0 #7CBCAC,-5px 10px 20px rgba(0,0,0,0.35);}
        .footer-container,
        .main aside {}
        .header-container,.main aside {background-color:black;}
        .footer-container{background-color: rgba(0,0,0,0.5); box-shadow: inset 0 10px 15px rgba(0,0,0,0.5);}
        .title {color: white;}
        .spanBar {background-color: #363636;color: #93CD8C;}
        .regShadow{box-shadow: 0 5px 15px rgba(0,0,0,0.5);}
    /* ===================
        LAYOUTS: 
        =================== */
        /* ===== 2 COL LAYOUT ===== */
        .cols2{width: 48%;margin:2%;}
        .cols2:first-child {margin-left: 0;}
        .cols2:last-child {margin-right: 0;}

        /* ===== 3 COL LAYOUT ===== */
        .cols3{width:27.33%;margin:2%;padding:1.667%;}
        .cols3:first-child{margin-left:0;}
        .cols3:last-child{margin-right:0;}

        /* ===== 2/3 COL LAYOUT ===== */
        .cols2-3rd{width: 62%;margin:2%;padding: 2%;}
        .cols2-3rd:first-child{margin-left: 0}
        .cols2-3rd:last-child{margin-right: 0}
        /* ===== 1/3 COL LAYOUT ===== */
        .cols1-3rd{width: 26%;margin:2%;padding: 2%;}
        .cols1-3rd:first-child{margin-left: 0}
        .cols1-3rd:last-child{margin-right: 0}

        .cols2, .cols3, .cols2-3rd, .cols1-3rd{float: left;margin-bottom: 0; margin-top: 0;}



    /* ==========================================================================
        Author's custom styles
        ========================================================================== */
        body {
            font: 16px/26px Helvetica, Helvetica Neue, Arial;
        }
        .wrapper {
            width: 90%;
            margin: 0 5%;
        }
        .header-container{
            position: fixed;
            top: 0;
            left: 0;
            z-index: 99;
            width: 100%;
            height: 50px;
            padding-top: 5px;
        }
        .main-container{margin-top: 50px;}
        .footer-container{
            min-height: 150px;
        }
        header{position: relative;}
        .userDisplay{
            position: absolute;
            left: 0;
            top: 0;
            color: white;
        }
        .userDisplay span, .userDisplay a{
            float: left;
        }
        .userThumbnailmini,
        .userName,
        .userProfileButton{
            margin: 10px 0;
            height: 30px;
            
        }
        .userProfileButton{
            width: 30px;
            background-color: #A17677;
            background-image:url("../img/plus-sign.png");
            background-position: center center;
            background-repeat: no-repeat;
            margin-left: 20px;
        }
        .userProfileButton:hover{
            transform:rotate(90deg);
            -ms-transform:rotate(90deg); /* IE 9 */
            -webkit-transform:rotate(90deg); /* Safari and Chrome */
        }
        .userProfileButton:active{
            transform:rotate(90deg);
            -ms-transform:rotate(90deg); /* IE 9 */
            -webkit-transform:rotate(90deg); /* Safari and Chrome */
            transform:translate(0,2px);
            -ms-transform:translate(0,2px);
            -webkit-transform:translate(0,2px);
        }
        .userThumbnailmini{
            width: 30px;
            background-color: #616161;
            background-image:url("../img/default-avatar-small.png");
            background-position: center center;
            background-repeat: no-repeat;
        }
        .userName{
            background-color: #a0a0a0;
            height: 27px;
            min-width: 100px;
            padding: 3px 10px 0;
        }
        .userName p{
            width: 30px;
        }
        nav.utility{position: absolute;right: 0;top: -3px;}
        nav.utility ul{margin: 0;padding: 0;}
        nav.utility ul li{float: left;}
        nav.utility ul li:hover{
            background-color: #93cdbe;
            -webkit-border-top-left-radius: 5px;
            -webkit-border-top-right-radius: 5px;
            -moz-border-radius-topleft: 5px;
            -moz-border-radius-topright: 5px;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            box-shadow: 
                0 8px 0 #7CBCAC;
        }
        nav.utility li:hover a {text-decoration: underline;}
        nav.utility li a{padding: 15px 20px 10px; display: inline-block;text-decoration: none;}
        
        

        article{
            
        }
        #mainQuest{
            height: 440px;
            background-image: url(../img/main_bg1.jpg);
            background-size: cover;
            background-repeat: 0;
            color: #FFFFFF;
            height: 440px;
            text-shadow: -1px 1px 5px rgba(0, 0, 0, 0.5);
            padding-top: 30px;
        }
        #mainQuest p {
            font-size: 25px;
            line-height: 1.5;
        }
        #mainQuest h4 {
            font-size: 26px;
            margin: 30px 0;
        }
        #quickQuest{
            background-color: rgba(0,0,0,0.5);
            padding:20px;
            border-radius: 5px;
            margin-right: 100px;
            box-shadow: -5px 5px 20px rgba(0, 0, 0, 0.5);
        }
        #quickQuest label{
            display: none;
            float: left;
            margin: 5px 0;
        }
        #quickQuest input{float: right;}
        #quickQuest .biginput{width: 95%;}
        #quickQuest .indent{width: 80%;}
        #addAnOptionLabel{
            display: inline !important;
            float: right !important;
            margin-right: 265px !important;
        }
        .submit.clickButton {
            height: auto;
            margin-right: 10px;
            padding-left: 50px;
            padding-right: 50px;
        }
        #addAnOption{
            display: inline-block;
            float: left !important;
            margin-left: 70px !important;
            width: 30px !important;
        }

        .title {
            width: fit-content;
            width: -moz-fit-content;
            width: -webkit-fit-content;
            margin: 13px auto 10px;
        }
        h1#logo_title{margin: 0 auto;padding: 0;}
        h1#logo_title a{
            text-indent: -9999px;
            background:url("../img/header_logo.png") no-repeat scroll center center transparent; 
            height: 50px;
            width: 200px;
            margin: 0 auto;
            display: inline-block;
            color: #ffffff;
        }
        .spanBar{
            width: 100%;
            height: 37px;
            margin: 0;
            padding: 15px 0; 

        }
        .centerText{
            text-align: center;
        }
        i.micons{
            font-size: 100px;
            color: #A17677;
        }
        .step-heading{
            font-family: 'haymakerregular', arial, Helvetica;
            color: #000000;
        }

        #qsignup .submit.clickButton {
            float: right;
            padding: 5px 10px;
        }
        #qsignup #fbsignup.submit.clickButton {
            float: left;
            padding: 5px 10px;
        }
        .footer {
            margin-bottom: 150px;
        }
        .qpost {
            position: relative;
            background-color: #D5D4D4;
            margin-top: 60px;
            margin-bottom: 100px;
            padding: 10px 50px 50px;
        }
        .qpostinfo{
            left: -40px;
            position: absolute;
            top: -40px;
            width: 250px;
        }
        .qpost form {
            margin: 0 auto;
            width: 90%;
        }
        .qpost label{font-size: 18px; margin:10px 0 0;}
        .qpost input{
            float: right;
        }
        .qpost textarea {
            width: 95%;
        }
        .iframe{
            border-radius: 5px;
            background-color: black;
            padding:10px;
            width: 60px;
            float: left;
            margin-right: 20px;
        }
        .qpost i{font-size: 60px;color: #FFFFFF;}
        .qpostinfo p {
            font-size: 13px;
            line-height: 1.5;
            margin: 0;
        }
        .qpost input[type="radio"] {
            float: none;
        }
        label.opitons {
            margin-left: 40px;
            margin-top: -20px;
            width: 150px;
        }
/* ==========
* Buttons and Things
========== */
a.clickButton{
    
}
.clickButton{
    color: #ffffff;
    text-shadow: -2px 2px 2px rgba(0,0,0,0.25);
    text-decoration: none;
    font-size: 30px;
    line-height: 1;

    display: inline-block;
    background-color: #93cdbe;
    border-radius: 5px !important;
    height: 30px;
    padding: 12px 20px 8px;
    box-shadow: 
                0 7px 0 #7CBCAC, 
                -5px 10px 20px rgba(0,0,0,0.35);
}
.clickButton:hover{
    transform:translate(0,2px);
    -webkit-transform:translate(0,2px);
    box-shadow: 
                0 5px 0 #7CBCAC, 
                -3px 8px 20px rgba(0,0,0,0.35);
}
.clickButton:active{
    transform:translate(0,7px);
    -webkit-transform:translate(0,7px);
    box-shadow: 
                0 1px 0 #7CBCAC, 
                -1px 4px 20px rgba(0,0,0,0.35);
}





/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {}

@media only screen and (min-width: 768px) {}

@media only screen and (min-width: 1140px) {}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}
/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}