/* ==========================================================================
    RESET STYLES
    ========================================================================= */
    html,
    button,
    input,
    select,
    textarea {
        color: #222;
    }

    body {
        font-size: 1em;
        line-height: 1.4;
    }

    ::-moz-selection {
        background: #b3d4fc;
        text-shadow: none;
    }

    ::selection {
        background: #b3d4fc;
        text-shadow: none;
    }

    hr {
        display: block;
        height: 1px;
        border: 0;
        border-top: 1px solid #ccc;
        margin: 1em 0;
        padding: 0;
    }

    img {
        vertical-align: middle;
    }
    /* Flexible Images */
        img{
        height: auto;
        max-width: 100%;
        }

    fieldset {
        border: 0;
        margin: 0;
        padding: 0;
    }

    textarea {
        resize: vertical;
    }

    .chromeframe {
        margin: 0.2em 0;
        background: #ccc;
        color: #000;
        padding: 0.2em 0;
    }


/* =======================================================
    GLOBAL
    ======================================================= */
    /*Test Box is for Wireframe visualization only*/
    .testBox{
            background-color: rgba(255,0,0,0.25);
            box-shadow: inset 0 0 5px 1px teal;
        }
    /* ===================
        COLORS: 
        =================== */
        body{color: grey;}
        nav.utility a{color: white;}
        .header-container {}
        .footer-container,
        .main aside {}
        .header-container,.main aside {background-color:black;}
        .footer-container{background-color: rgba(0,0,0,0.5); box-shadow: inset 0 10px 15px rgba(0,0,0,0.5);}
        .title {color: white;}
        .spanBar{background-color: rgba(0,0,0,0.5);color:white;}
        .regShadow{box-shadow: 0 5px 15px rgba(0,0,0,0.5);}
    /* ==========================================================================
        Author's custom styles
        ========================================================================== */
        body {
            font: 16px/26px Helvetica, Helvetica Neue, Arial;
        }
        .wrapper {
            width: 90%;
            margin: 0 5%;
        }
        .header-container{
            position: fixed;
            top: 0;
            left: 0;
            z-index: 99;
            width: 100%;
            height: 50px;
            margin-bottom: 30px;
        }
        .main-container{margin-top: 80px;}
        .footer-container{
            min-height: 150px;
        }
        header{position: relative;}
        .userDisplay{
            position: absolute;
            left: 0;
            top: 0;
            color: white;
        }
        .userDisplay span{
            float: left;
        }
        .userThumbnailmini,
        .userName,
        .userProfileButton{
            margin: 10px 0;
            height: 30px;
        }
        .userThumbnailmini{
            width: 30px;
        }
        .userName{
            min-width: 30px;
        }
        .userName p{
            width: 30px;
        }
        .userProfileButton{
            width: 30px;
        }
        nav.utility{
            position: absolute;
            right: 0;
            top: 0;
        }
        nav.utility ul li{float: left;}
        nav.utility ul{margin: 0;padding: 0;}
        nav.utility a{margin: 14px 20px 10px; display: inline-block;text-decoration: none;}
        nav.utility a:last-child {margin-right: 0;}
        nav.utility a:hover {text-decoration: underline;}

        article{
            min-height: 280px;
        }

        .title {
            width: fit-content;
            width: -moz-fit-content;
            margin: 13px auto 10px;
        }
        .spanBar{
            width: 100%;
            height: 37px;
            margin: 30px 0;
            padding-top: 13px;

        }
        .centerText{
            text-align: center;
        }
        .cols2, .cols3, .colsLarge, .colsSmall{float: left;}
        .cols2{width: 40%;padding: 5%;}
        .cols3{width: 30%;padding: 1.667%;}
        .colsLarge{width: 56%;padding: 2%;}
        .colsSmall{width: 36%;padding: 2%;}











/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {}

@media only screen and (min-width: 768px) {}

@media only screen and (min-width: 1140px) {}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}
/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}